* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  box-sizing: border-box;
  color: #112d4e;
  background: #112d4e;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  margin: 5px 0;
  font-weight: 700;
  font-family: 'Merriweather', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  margin: 15px 0 15px 0;
}

small {
  font-size: 12px;
}

strong {
  font-weight: bold;
}

pre, code {
  width: 100%;
  background-color: #fff;
  font-family: Monaco, "Lucida Console", Terminal, monospace;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

ul {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 15px
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#main_content a {
  color: #112d4e;
  font-weight: bold;
}

#main_content a:hover {
  text-decoration: underline;
}

#main_content_wrap {
  background: #f2f2f2;
  min-height: 450px;
}

header {
  background: #112d4e;
  color: #f2f2f2;
}

header a {
  color: #f2f2f2;
  font-family: 'Merriweather', Helvetica, Arial, sans-serif;
}

.nav {
  font-size: 20px;
}

.main_header {
  font-size: 44px;
  font-weight: 700;
}

footer {
  color: #f2f2f2;
  text-align: center;
}

.post {
  margin-bottom: 30px;
}

.txt-center {
  text-align: center;
}

.big-font {
  font-size: 100px;
}

.m-3 {
  margin: 3em;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/
@media screen and (max-width: 490px) {
  body {
    font-size: 16px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

  .main_header {
    font-size: 34px;
  }
}
