/* Variables */
:root {
  --white: #f2f2f2;
  --black: #333333;
  --primary-color: #195a7f;
  --body-font: 'Fira Sans', Helvetica, Arial, sans-serif;
  --headings-font: 'Oswald', Helvetica, Arial, sans-serif;
  --box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

/* Base */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  box-sizing: border-box;
  color: var(--black);
  background: var(--primary-color);
  font-size: 18px;
  font-family: var(--body-font);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  margin: 5px 0;
  font-weight: 700;
  font-family: var(--headings-font);
  color: var(--primary-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  margin: 15px 0;
}

small {
  font-size: 12px;
}

ul {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 15px
}

pre, code {
  width: 100%;
  background-color: #fff;
  font-family: Monaco, "Lucida Console", Terminal, monospace;
  font-size: 14px;
  border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: var(--box-shadow);
  overflow: auto;
  box-sizing: border-box;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: var(--box-shadow);
}

pre code {
  display: block;
  box-shadow: none;
}

/* Main content */
.inner {
  position: relative;
  max-width: 650px;
  padding: 20px;
  margin: 0 auto;
}

#main_content_wrap {
  background: var(--white);
  min-height: 450px;
  padding-bottom: 50px;
}

#main_content a {
  color: var(--primary-color);
  font-weight: bold;
  padding: 0.2rem;
}

#main_content a:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* Header */
header {
  color: var(--white);
}

header a {
  color: var(--white);
  font-family: var(--headings-font);
}

.nav {
  font-size: 25px;
}

.nav a:hover {
  text-decoration: underline;
}

.main_header {
  font-size: 50px;
}

/* Footer */
footer {
  color: var(--white);
  text-align: center;
}

/* Utils */
.txt-center {
  text-align: center;
}

.big-font {
  font-size: 120px;
}

.mb-2 {
 margin-bottom: 2em;
}

/* Small devices */
@media screen and (max-width: 490px) {
  body {
    font-size: 16px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

  .main_header {
    font-size: 34px;
  }
}
