<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="title" content="Marc Anguera Insa - Software, Development, Ruby and Internet">
  <meta name="google-site-verification" content="FfIRHPdGUHtmFkTqKU3q0n_tkG93PRIiRWf4mx6K8Bk" />
  <title>{{ page.title }} - Marc Anguera @markets</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Fira+Sans&display=swap" rel="stylesheet">
</head>
<body>
  {% include header.html %}

  <div id="main_content_wrap">
    <section id="main_content" class="inner">
      {{ content }}
    </section>
  </div>

  {% include footer.html %}
  {% include analytics.html %}
</body>
</html>
