<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="title" content="Marc Anguera Insa - Software, Development, Ruby and Internet">
  <meta name="google-site-verification" content="FfIRHPdGUHtmFkTqKU3q0n_tkG93PRIiRWf4mx6K8Bk" />
  <title>{{ page.title }} - Marc Anguera Insa</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
  <header class="inner">
    <h1 class="main_header">
      <a href="/" title="Home">|> Marc Anguera</a>
    </h1>
    <div class="nav">
      <a href="/about" title="About me">About</a> /
      <a href="/projects" title="About me">Projects</a> /
      <a href="/blog" title="Blog">Blog</a> /
      <a href="/contact" title="Contact me">Contact</a>
    </div>
  </header>

  <div id="main_content_wrap">
    <section id="main_content" class="inner">
      {{ content }}
    </section>
  </div>

  <footer class="inner">
    <p>&copy; {{ "now" | date: "%Y" }} Marc Anguera Insa</p>
  </footer>

  {% include analytics.html %}
</body>
</html>
