<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div id="header_wrap" class="outer">
    <header class="inner">
      <h1 class="main_header">
        <span class="tagline">Software, Development, Ruby and Internet</span>
        <a class="main" href="/" title="Home">> Marc Anguera Insa</a>
      </h1>
      <a href="/about/" title="About me">About</a> /
      <a href="/blog/" title="Blog">Blog</a> /
      <a href="/contact/" title="Contact me">Contact</a>
    </header>
  </div>

  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
      {{ content }}
    </section>
  </div>

  <div id="footer_wrap" class="outer">
    <footer class="inner">
      <p>&copy; 2019 Marc Anguera Insa</p>
    </footer>
  </div>

  {% include analytics.html %}
</body>
</html>
